#container {
  text-align: center;
  
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-list {
  background-color: transparent;
}

ion-item {
  --background: white;
  --color: black;
  font-weight: bold;
  --text-align:center;
  text-align: center;
}

ion-button {
  --background: white;
  --color: black;
  font-weight: bold;
}

ion-label,
ion-list-header {
  --color: white;
  --text-align:center;

}

ion-content {
  --background: url(/assets/img/rome4.jpg);
}

ion-label{
  text-align: center;

}
ion-title{
  text-align: center;

}