<ion-header>
  <ion-toolbar>
    <ion-title mode="md">
      Conversion Romaine
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="md">
  
    <ion-button expand="block" color="dark"  routerLink="/conversion-romaine"> 10 --> X
      <ion-icon name="calculator" slot="start"></ion-icon>
    </ion-button>
    <ion-button expand="block" color="dark" routerLink="/traduction-romaine"> X --> 10
      <ion-icon name="calculator" slot="start"></ion-icon>
    </ion-button>
        
</ion-content>